html{
    font-family: 'Roboto Slab', serif;
}
/* CSS code to style the 3x3 grid */
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Three columns, each 100px wide */
    grid-gap: 10px; /* Gap between grid items */
    justify-content: center; /* Center the grid horizontally */
    margin-top: 5%; /* Add some spacing on top */
  }
  
  .panel {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 100px; /* Set the height of each panel */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resetBtn{
    margin-top: 5vh;
    background-color: rgb(38, 176, 255);
    color:white;
    border-radius: 5px;
    width: 320px;
}
.result{
    margin-top: 5%;
    font-size: x-large;
}